<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/layout')%>
</head>

<body>
    <%- include('partials/navbar')%>
        <div class="companyDetails">
            <div class="jobBasic-detail">
                <img class="jobCompanyLogo" src="<%=job.imgSrc%>" alt="company logo">
                <h1 class="jobCompanyTitle">
                    <%=job.companyName%>
                </h1>
            </div>
            <div class="details">
                <h5 class="jobCompanyDesignation"><span>designation:</span>
                    <p>
                        <%=job.designation%>
                    </p>
                </h5>
                <h5 class="jobCompanyPackage"><span>package:</span>
                    <p>
                        <%=job.package%>
                    </p>
                </h5>
                <h5><span>Language known:</span>
                    <p>
                    <ul class="jobCompanyLanguage">

                        <%job.language.forEach(language=>{%>
                            <li>
                                <%=language%>
                            </li>
                            <%})%>
                    </ul>
                    </p>
                </h5>
            </div>
            <a href="/applyNow" class="jobCompanyLink">apply now</a>
            <p class="education">education + experience
            <ul class="education-ul">
                <%job.education.forEach(education=>{%>
                    <li>
                        <%=education%>
                    </li>
                    <%})%>
            </ul>
            </p>
            <p class="jobCompanyDescription"><span>description:</span><br>
            <article class="jobDetailsArticle">
                <%=job.description%>
            </article>
            </p>

        </div>
</body>

</html>