<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- stylesheet added  -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- fontawesome icon link -->
    <script src="https://kit.fontawesome.com/c058ee3c3f.js" crossorigin="anonymous"></script>

    <!-- bootstrap link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <title>Job Details</title>
</head>

<body>
    <%- include('partials/navbar')%>
        <div id="card-container">
            <%jobsResponse.forEach(jobs=>{%>
                <div class="card">
                    <div class="card-body">
                        <img src="<%=jobs.imgSrc%>" height="50px" width="70px" alt="">
                        <h5 class="card-title">
                            <%=jobs.companyName%>
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            Tech:- <%=jobs.designation%>
                        </h6>
                        <p class="card-text">
                            <%=jobs.package%>
                        </p>
                        <p class="card-text">
                            <%=jobs.description%>
                        </p>
                        <ul class="card-text-ul">
                            <%jobs.language.forEach(language=>{%>
                                <li>
                                    <%=language%>
                                </li>
                                <%})%>
                        </ul>
                        <a href="/jobDetails" class="card-link">view details</a>
                        <a href="/applyNow" class="card-link">apply now</a>
                    </div>
                </div>
                <% })%>
        </div>


        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</body>

</html>